<h1>Events#index</h1>

<div class="container">
  <div class="row">
    <% @events.each do |event| %>
      <div class="col-xs-12">
        <div class="card">
            <%= link_to event.title, event_path(event) %>
        </div>
      </div>
    <% end %>
  </div>
  <p><%= link_to "Create an event", new_event_path %></p>
</div>
