<div class="sidebar-container">
  <div class="side-row">
    <div class="col-xs-3">
      <div class="sidebar-menu" style="width: 8%">
        <a href="#" class="sidebar-item ">
          <i class="fa fa-user" aria-hidden="true"></i>
          Profile
        </a>
<!-- If profile is clicked on it will bring you to a profile page -->
        <a href="#" class="sidebar-item ">
          <i class="fa fa-envelope" aria-hidden="true"></i>
          Messages
        </a>
        <!-- If messages is clicked it will bring you to a message page -->
        <a href="#" class="sidebar-item ">
          <i class="fa fa-file-text" aria-hidden="true"></i>
          Resume
        </a>
        <!-- If Resume is clicked it will bring you to a resume page -->
        <a href="#" class="sidebar-item ">
          <i class="fa fa-calendar" aria-hidden="true"></i>
          Calendar
        </a>
        <a href="#" class="sidebar-item ">
          <i class="fa fa-cog" aria-hidden="true"></i>
          Settings
        </a
      </div>
    </div>
   <!--  <div class="col-xs-3" style=" background-color: rgb(232, 235, 237)">
      <div class="sidebar-menu" style="width: 8%">
        <a href="#" class="sidebar-item ">
          <i class="fa fa-user" aria-hidden="true"></i>
          Inbox
        </a>
        <a href="#" class="sidebar-item ">
          <i class="fa fa-envelope" aria-hidden="true"></i>
          Sent
        </a>
        <a href="#" class="sidebar-item ">
          <i class="fa fa-file-text" aria-hidden="true"></i>
          Contacts
        </a>
        <a href="#" class="sidebar-item ">
          <i class="fa fa-calendar" aria-hidden="true"></i>
          Drafts
        </a>
      </div>
    </div> -->
  </div>
</div>
