.card{
  height: 175px;
  width:300px;
  margin:40px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-color: green;
  background-position: center;
  color: white;
  position: relative;
}


.card-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 145px;
  p {
  font-size: 20px;
  font-family: ‘Lobster’, cursive;
  }
}

.card-option {
  background-color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 30px;
  display:flex;
  justify-content: space-around;
  align-items: center;
}
